<!-- <html>
  <head>
    <title>Data Input</title>
  </head>
  <body>
    <h1>Choose one of the options:</h1>
    <form action="/result" method="post">
      <input type="radio" name="options" value="option1">Option 1<br>
      <input type="radio" name="options" value="option2">Option 2<br>
      <input type="radio" name="options" value="option3">Option 3<br>
      <input type="radio" name="options" value="option4">Option 4<br>
      <input type="radio" name="options" value="option5">Option 5<br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html> -->
<html>
  <head>
    <title>Data Input</title>
  </head>
  <body>
    <h1>Choose one of the options:</h1>
    <form action="/result" method="post">
      <input type="text" name="search" placeholder="Search...">
      <select name="options">
        <option value="option1">TATAMOTORS</option>
        <option value="option2">TATASTEEL</option>
        <option value="option3">TATAPOWERS</option>
        <option value="option4">TCS</option>
        <option value="option5">ADANIPOWER</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
